In [2]:
import pandas as pd
import json

In [12]:
path = r"C:\Users\pc\OneDrive\Desktop\movie-Box-hit-predictor\data_cleaned\first_cleaned_dataset.csv"
clean_df1 = pd.read_csv(path)
clean_df1.columns

Index(['Unnamed: 0', 'budget', 'popularity', 'vote_count',
       'top_cast_avg_rating', 'director_encoded', 'release_year',
       'release_month', 'Action', 'Adventure', 'Animation', 'Comedy', 'Crime',
       'Documentary', 'Drama', 'Family', 'Fantasy', 'Foreign', 'History',
       'Horror', 'Music', 'Mystery', 'Romance', 'Science Fiction', 'TV Movie',
       'Thriller', 'War', 'Western', 'title', 'genres', 'director', 'top_cast',
       'release_date', 'vote_average', 'revenue', 'budget_log', 'revenue_log',
       'profit_ratio'],
      dtype='object')

In [11]:
path_2 = r"C:\Users\pc\OneDrive\Desktop\movie-Box-hit-predictor\data_cleaned\second_cleaned_dataset.csv"
clean_df2 = pd.read_csv(path_2)
clean_df2.columns

Index(['Unnamed: 0', 'title', 'budget_log', 'revenue_log', 'profit_ratio',
       'popularity', 'vote_average', 'vote_count', 'director_encoded',
       'top_cast_avg_rating', 'release_year', 'release_month', 'Action',
       'Action.1', 'Action.2', 'Action.3', 'Adventure', 'Adventure.1',
       'Adventure.2', 'Adventure.3', 'Animation', 'Animation.1', 'Animation.2',
       'Animation.3', 'Comedy', 'Comedy.1', 'Comedy.2', 'Comedy.3', 'Crime',
       'Crime.1', 'Crime.2', 'Crime.3', 'Documentary', 'Documentary.1',
       'Documentary.2', 'Documentary.3', 'Drama', 'Drama.1', 'Drama.2',
       'Drama.3', 'Family', 'Family.1', 'Family.2', 'Family.3', 'Fantasy',
       'Fantasy.1', 'Fantasy.2', 'Fantasy.3', 'Foreign', 'Foreign.1',
       'Foreign.2', 'Foreign.3', 'History', 'History.1', 'History.2',
       'History.3', 'Horror', 'Horror.1', 'Horror.2', 'Horror.3', 'Music',
       'Music.1', 'Music.2', 'Music.3', 'Mystery', 'Mystery.1', 'Mystery.2',
       'Mystery.3', 'Romance', 'Romance.1', 'Romance.2', 'Romance.3',
       'Science Fiction', 'Science Fiction.1', 'Science Fiction.2',
       'Science Fiction.3', 'TV Movie', 'TV Movie.1', 'TV Movie.2',
       'TV Movie.3', 'Thriller', 'Thriller.1', 'Thriller.2', 'Thriller.3',
       'War', 'War.1', 'War.2', 'War.3', 'Western', 'Western.1', 'Western.2',
       'Western.3', 'season_Winter', 'season_Winter.1', 'season_Winter.2',
       'season_Winter.3'],
      dtype='object')

In [13]:
# Compare columns between dataset 1 and 2
set1 = set(clean_df1.columns)
set2 = set(clean_df2.columns)

common_cols = set1.intersection(set2)
only_in_df1 = set1 - set2
only_in_df2 = set2 - set1

print("âœ… COMMON COLUMNS (in both datasets):")
print(sorted(common_cols))
print("\nâž• ONLY IN DATASET 1:")
print(sorted(only_in_df1))
print("\nâž• ONLY IN DATASET 2:")
print(sorted(only_in_df2))

âœ… COMMON COLUMNS (in both datasets):
['Action', 'Adventure', 'Animation', 'Comedy', 'Crime', 'Documentary', 'Drama', 'Family', 'Fantasy', 'Foreign', 'History', 'Horror', 'Music', 'Mystery', 'Romance', 'Science Fiction', 'TV Movie', 'Thriller', 'Unnamed: 0', 'War', 'Western', 'budget_log', 'director_encoded', 'popularity', 'profit_ratio', 'release_month', 'release_year', 'revenue_log', 'title', 'top_cast_avg_rating', 'vote_average', 'vote_count']

âž• ONLY IN DATASET 1:
['budget', 'director', 'genres', 'release_date', 'revenue', 'top_cast']

âž• ONLY IN DATASET 2:
['Action.1', 'Action.2', 'Action.3', 'Adventure.1', 'Adventure.2', 'Adventure.3', 'Animation.1', 'Animation.2', 'Animation.3', 'Comedy.1', 'Comedy.2', 'Comedy.3', 'Crime.1', 'Crime.2', 'Crime.3', 'Documentary.1', 'Documentary.2', 'Documentary.3', 'Drama.1', 'Drama.2', 'Drama.3', 'Family.1', 'Family.2', 'Family.3', 'Fantasy.1', 'Fantasy.2', 'Fantasy.3', 'Foreign.1', 'Foreign.2', 'Foreign.3', 'History.1', 'History.2', 'History.3', 'Horror.1', 'Horror.2', 'Horror.3', 'Music.1', 'Music.2', 'Music.3', 'Mystery.1', 'Mystery.2', 'Mystery.3', 'Romance.1', 'Romance.2', 'Romance.3', 'Science Fiction.1', 'Science Fiction.2', 'Science Fiction.3', 'TV Movie.1', 'TV Movie.2', 'TV Movie.3', 'Thriller.1', 'Thriller.2', 'Thriller.3', 'War.1', 'War.2', 'War.3', 'Western.1', 'Western.2', 'Western.3', 'season_Winter', 'season_Winter.1', 'season_Winter.2', 'season_Winter.3']

In [14]:
import numpy as np
import pandas as pd

# âœ… List of all main genre names
genre_cols = [
    'Action', 'Adventure', 'Animation', 'Comedy', 'Crime', 'Documentary', 'Drama',
    'Family', 'Fantasy', 'Foreign', 'History', 'Horror', 'Music', 'Mystery',
    'Romance', 'Science Fiction', 'TV Movie', 'Thriller', 'War', 'Western'
]

# âœ… Main features
feature_cols = [
    'title', 'budget', 'revenue', 'popularity', 'vote_average', 'vote_count',
    'director_encoded', 'top_cast_avg_rating', 'release_year', 'release_month',
    'budget_log', 'revenue_log', 'profit_ratio'
]

# ðŸ©µ Step 1: Fix genre columns in clean_df2
for g in genre_cols:
    dupes = [c for c in clean_df2.columns if c.startswith(g)]
    if dupes:
        clean_df2[g] = clean_df2[dupes].sum(axis=1).clip(0, 1)
        clean_df2.drop(columns=dupes, inplace=True, errors='ignore')
    else:
        clean_df2[g] = 0  # add if not found

# ðŸ©µ Step 2: Add missing numeric columns in both
for df in [clean_df1, clean_df2]:
    for col in ['budget', 'revenue']:
        if col not in df.columns:
            df[col] = np.expm1(df[col + '_log']) if col + '_log' in df.columns else 0

    if 'budget_log' not in df.columns:
        df['budget_log'] = np.log1p(df['budget'])
    if 'revenue_log' not in df.columns:
        df['revenue_log'] = np.log1p(df['revenue'])
    if 'profit_ratio' not in df.columns:
        df['profit_ratio'] = (df['revenue'] - df['budget']) / df['budget'].replace(0, np.nan)

# ðŸ©µ Step 3: Add any missing genre columns
for g in genre_cols:
    if g not in clean_df1.columns:
        clean_df1[g] = 0
    if g not in clean_df2.columns:
        clean_df2[g] = 0

# ðŸ©µ Step 4: Align columns
keep_cols = feature_cols + genre_cols
clean_df1 = clean_df1.reindex(columns=keep_cols, fill_value=0)
clean_df2 = clean_df2.reindex(columns=keep_cols, fill_value=0)

# ðŸ©µ Step 5: Combine datasets
combined_df = pd.concat([clean_df1, clean_df2], ignore_index=True)

print(f"âœ… Combined dataset shape: {combined_df.shape}")
print(f"âœ… Columns: {combined_df.columns.tolist()}")
combined_df.head()

âœ… Combined dataset shape: (49525, 33)
âœ… Columns: ['title', 'budget', 'revenue', 'popularity', 'vote_average', 'vote_count', 'director_encoded', 'top_cast_avg_rating', 'release_year', 'release_month', 'budget_log', 'revenue_log', 'profit_ratio', 'Action', 'Adventure', 'Animation', 'Comedy', 'Crime', 'Documentary', 'Drama', 'Family', 'Fantasy', 'Foreign', 'History', 'Horror', 'Music', 'Mystery', 'Romance', 'Science Fiction', 'TV Movie', 'Thriller', 'War', 'Western']

,title,budget,revenue,popularity,vote_average,vote_count,director_encoded,top_cast_avg_rating,release_year,release_month,...,History,Horror,Music,Mystery,Romance,Science Fiction,TV Movie,Thriller,War,Western
0,Pirates of the Caribbean: At World's End,300000000.0,961000000.0,139.082615,6.9,4500.0,714,6.271936,2007.0,5.0,...,0,0,0,0,0,0,0,0,0,0
1,John Carter,260000000.0,284139100.0,43.926995,6.1,2124.0,89,6.108333,2012.0,3.0,...,0,0,0,0,0,1,0,0,0,0
2,Spider-Man 3,258000000.0,890871626.0,115.699814,5.9,3576.0,1838,6.271936,2007.0,5.0,...,0,0,0,0,0,0,0,0,0,0
3,Tangled,260000000.0,591794936.0,48.681969,7.4,3330.0,257,6.636667,2010.0,11.0,...,0,0,0,0,0,0,0,0,0,0
4,Superman Returns,270000000.0,391081192.0,57.925623,5.4,1400.0,255,5.685556,2006.0,6.0,...,0,0,0,0,0,1,0,0,0,0

In [15]:
combined_df.columns

Index(['title', 'budget', 'revenue', 'popularity', 'vote_average',
       'vote_count', 'director_encoded', 'top_cast_avg_rating', 'release_year',
       'release_month', 'budget_log', 'revenue_log', 'profit_ratio', 'Action',
       'Adventure', 'Animation', 'Comedy', 'Crime', 'Documentary', 'Drama',
       'Family', 'Fantasy', 'Foreign', 'History', 'Horror', 'Music', 'Mystery',
       'Romance', 'Science Fiction', 'TV Movie', 'Thriller', 'War', 'Western'],
      dtype='object')

In [16]:
combined_df.head(50)

,title,budget,revenue,popularity,vote_average,vote_count,director_encoded,top_cast_avg_rating,release_year,release_month,...,History,Horror,Music,Mystery,Romance,Science Fiction,TV Movie,Thriller,War,Western
0,Pirates of the Caribbean: At World's End,300000000.0,9.610000e+08,139.082615,6.9,4500.0,714,6.271936,2007.0,5.0,...,0,0,0,0,0,0,0,0,0,0
1,John Carter,260000000.0,2.841391e+08,43.926995,6.1,2124.0,89,6.108333,2012.0,3.0,...,0,0,0,0,0,1,0,0,0,0
2,Spider-Man 3,258000000.0,8.908716e+08,115.699814,5.9,3576.0,1838,6.271936,2007.0,5.0,...,0,0,0,0,0,0,0,0,0,0
3,Tangled,260000000.0,5.917949e+08,48.681969,7.4,3330.0,257,6.636667,2010.0,11.0,...,0,0,0,0,0,0,0,0,0,0
4,Superman Returns,270000000.0,3.910812e+08,57.925623,5.4,1400.0,255,5.685556,2006.0,6.0,...,0,0,0,0,0,1,0,0,0,0
5,Quantum of Solace,200000000.0,5.860907e+08,107.928811,6.1,2965.0,1284,6.271936,2008.0,10.0,...,0,0,0,0,0,0,0,1,0,0
6,Pirates of the Caribbean: Dead Man's Chest,200000000.0,1.065660e+09,145.847379,7.0,5246.0,714,6.271936,2006.0,6.0,...,0,0,0,0,0,0,0,0,0,0
7,The Lone Ranger,255000000.0,8.928991e+07,49.046956,5.9,2311.0,714,6.271936,2013.0,7.0,...,0,0,0,0,0,0,0,0,0,1
8,Man of Steel,225000000.0,6.628455e+08,99.398009,6.5,6359.0,2175,6.238889,2013.0,6.0,...,0,0,0,0,0,1,0,0,0,0
9,The Chronicles of Narnia: Prince Caspian,225000000.0,4.196514e+08,53.978602,6.3,1630.0,74,6.300000,2008.0,5.0,...,0,0,0,0,0,0,0,0,0,0
10,Pirates of the Caribbean: On Stranger Tides,380000000.0,1.045714e+09,135.413856,6.4,4948.0,1733,6.271936,2011.0,5.0,...,0,0,0,0,0,0,0,0,0,0
11,Men in Black 3,225000000.0,6.240268e+08,52.035179,6.2,4160.0,148,6.271936,2012.0,5.0,...,0,0,0,0,0,1,0,0,0,0
12,The Hobbit: The Battle of the Five Armies,250000000.0,9.560198e+08,120.965743,7.1,4760.0,1614,6.271936,2014.0,12.0,...,0,0,0,0,0,0,0,0,0,0
13,The Amazing Spider-Man,215000000.0,7.522159e+08,89.866276,6.5,6586.0,1288,6.271936,2012.0,6.0,...,0,0,0,0,0,0,0,0,0,0
14,Robin Hood,200000000.0,3.106695e+08,37.668301,6.2,1398.0,1723,6.271936,2010.0,5.0,...,0,0,0,0,0,0,0,0,0,0
15,The Hobbit: The Desolation of Smaug,250000000.0,9.584000e+08,94.370564,7.6,4524.0,1614,6.271936,2013.0,12.0,...,0,0,0,0,0,0,0,0,0,0
16,The Golden Compass,180000000.0,3.722349e+08,42.990906,5.8,1303.0,317,6.138889,2007.0,12.0,...,0,0,0,0,0,0,0,0,0,0
17,King Kong,207000000.0,5.500000e+08,61.226010,6.6,2337.0,1614,6.271936,2005.0,12.0,...,0,0,0,0,0,0,0,0,0,0
18,Skyfall,200000000.0,1.108561e+09,93.004993,6.9,7604.0,1835,6.271936,2012.0,10.0,...,0,0,0,0,0,0,0,1,0,0
19,Alice in Wonderland,200000000.0,1.025491e+09,78.530105,6.4,4645.0,2021,6.271936,2010.0,3.0,...,0,0,0,0,0,0,0,0,0,0
20,X-Men: The Last Stand,210000000.0,4.593596e+08,3.857526,6.3,3525.0,227,6.271936,2006.0,5.0,...,0,0,0,0,0,1,0,1,0,0
21,Monsters University,200000000.0,7.435596e+08,89.186492,7.0,3528.0,399,6.271936,2013.0,6.0,...,0,0,0,0,0,0,0,0,0,0
22,Transformers: Revenge of the Fallen,150000000.0,8.362972e+08,21.939663,6.0,3138.0,1378,5.841667,2009.0,6.0,...,0,0,0,0,0,1,0,0,0,0
23,Transformers: Age of Extinction,210000000.0,1.091405e+09,116.840296,5.8,3095.0,1378,6.271936,2014.0,6.0,...,0,0,0,0,0,1,0,0,0,0
24,Oz: The Great and Powerful,200000000.0,4.918685e+08,46.985445,5.7,3530.0,1838,6.271936,2013.0,3.0,...,0,0,0,0,0,0,0,0,0,0
25,The Amazing Spider-Man 2,200000000.0,7.057174e+08,89.270217,6.5,4179.0,1288,6.271936,2014.0,4.0,...,0,0,0,0,0,0,0,0,0,0
26,TRON: Legacy,170000000.0,4.000628e+08,73.795050,6.3,2841.0,1081,6.271936,2010.0,12.0,...,0,0,0,0,0,1,0,0,0,0
27,Cars 2,200000000.0,5.598524e+08,49.986590,5.8,2033.0,1000,6.271936,2011.0,6.0,...,0,0,0,0,0,0,0,0,0,0
28,Green Lantern,200000000.0,2.198512e+08,51.872839,5.1,2487.0,1326,5.820833,2011.0,6.0,...,0,0,0,0,0,1,0,1,0,0
29,Terminator Salvation,200000000.0,3.713530e+08,71.862892,5.9,2463.0,1365,6.302500,2009.0,5.0,...,0,0,0,0,0,1,0,1,0,0
30,World War Z,200000000.0,5.318650e+08,81.834855,6.7,5560.0,1284,6.271936,2013.0,6.0,...,0,1,0,0,0,1,0,1,0,0
31,Jack the Giant Slayer,195000000.0,1.976876e+08,43.349855,5.5,2598.0,255,6.271936,2013.0,2.0,...,0,0,0,0,0,0,0,0,0,0
32,The Great Gatsby,105000000.0,3.510404e+08,61.196071,7.3,3769.0,151,6.271936,2013.0,5.0,...,0,0,0,0,1,0,0,0,0,0
33,Pacific Rim,180000000.0,4.076029e+08,56.523205,6.7,4794.0,730,6.271936,2013.0,7.0,...,0,0,0,0,0,1,0,0,0,0
34,Transformers: Dark of the Moon,195000000.0,1.123747e+09,28.529607,6.1,3299.0,1378,6.271936,2011.0,6.0,...,0,0,0,0,0,1,0,0,0,0
35,Indiana Jones and the Kingdom of the Crystal S...,185000000.0,7.866360e+08,75.674458,5.7,2495.0,1965,6.271936,2008.0,5.0,...,0,0,0,0,0,0,0,0,0,0
36,The Good Dinosaur,175000000.0,3.319261e+08,51.692953,6.6,1736.0,1626,6.400000,2015.0,11.0,...,0,0,0,0,0,0,0,0,0,0
37,Brave,185000000.0,5.389832e+08,125.114374,6.7,4641.0,223,6.271936,2012.0,6.0,...,0,0,0,0,0,0,0,0,0,0
38,Rush Hour 3,140000000.0,2.580222e+08,22.571780,6.1,783.0,227,6.294444,2007.0,8.0,...,0,0,0,0,0,0,0,1,0,0
39,A Christmas Carol,200000000.0,3.252339e+08,39.744242,6.6,1095.0,1770,6.271936,2009.0,11.0,...,0,0,0,0,0,0,0,0,0,0
40,The Legend of Tarzan,180000000.0,3.567431e+08,42.741719,5.5,2430.0,495,6.271936,2016.0,6.0,...,0,0,0,0,0,0,0,0,0,0
41,Up,175000000.0,7.350991e+08,92.201962,7.7,6870.0,1596,6.035714,2009.0,5.0,...,0,0,0,0,0,0,0,0,0,0
42,Monsters vs Aliens,175000000.0,3.815099e+08,36.167578,6.0,1423.0,364,6.044444,2009.0,3.0,...,0,0,0,0,0,1,0,0,0,0
43,Iron Man,140000000.0,5.851742e+08,120.725053,7.4,8776.0,1037,6.271936,2008.0,4.0,...,0,0,0,0,0,1,0,0,0,0
44,Hugo,170000000.0,1.857702e+08,32.319043,7.0,2141.0,1331,6.271936,2011.0,11.0,...,0,0,0,0,0,0,0,0,0,0
45,Wild Wild West,170000000.0,2.221047e+08,40.748915,5.1,1020.0,148,6.271936,1999.0,6.0,...,0,0,0,0,0,1,0,0,0,1
46,Suicide Squad,175000000.0,7.450000e+08,90.237920,5.9,7458.0,443,6.271936,2016.0,8.0,...,0,0,0,0,0,1,0,0,0,0
47,Evan Almighty,175000000.0,1.730000e+08,27.082182,5.3,1151.0,2063,6.230159,2007.0,6.0,...,0,0,0,0,0,0,0,0,0,0
48,Edge of Tomorrow,178000000.0,3.705413e+08,79.456485,7.6,4858.0,544,6.665455,2014.0,5.0,...,0,0,0,0,0,1,0,0,0,0
49,G.I. Joe: The Rise of Cobra,175000000.0,3.024690e+08,32.852443,5.6,1962.0,1935,6.271936,2009.0,8.0,...,0,0,0,0,0,1,0,1,0,0

In [36]:
# Save as CSV (recommended)
combined_df.to_csv("combined_movies_cleaned.csv", index=False)

print("âœ… Saved as 'combined_movies_cleaned.csv'")

âœ… Saved as 'combined_movies_cleaned.csv'

In [17]:
combined_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49525 entries, 0 to 49524
Data columns (total 33 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   title                49525 non-null  object
 1   budget               49525 non-null  float64
 2   revenue              49525 non-null  float64
 3   popularity           49525 non-null  float64
 4   vote_average         49525 non-null  float64
 5   vote_count           49525 non-null  float64
 6   director_encoded     49525 non-null  int64
 7   top_cast_avg_rating  49525 non-null  float64
 8   release_year         49525 non-null  float64
 9   release_month        49525 non-null  float64
 10  budget_log           49525 non-null  float64
 11  revenue_log          49525 non-null  float64
 12  profit_ratio         48564 non-null  float64
 13  Action               49525 non-null  int64
 14  Adventure            49525 non-null  int64
 15  Animation            49525 non-null  int64
 16  Comedy               49525 non-null  int64
 17  Crime                49525 non-null  int64
 18  Documentary          49525 non-null  int64
 19  Drama                49525 non-null  int64
 20  Family               49525 non-null  int64
 21  Fantasy              49525 non-null  int64
 22  Foreign              49525 non-null  int64
 23  History              49525 non-null  int64
 24  Horror               49525 non-null  int64
 25  Music                49525 non-null  int64
 26  Mystery              49525 non-null  int64
 27  Romance              49525 non-null  int64
 28  Science Fiction      49525 non-null  int64
 29  TV Movie             49525 non-null  int64
 30  Thriller             49525 non-null  int64
 31  War                  49525 non-null  int64
 32  Western              49525 non-null  int64
dtypes: float64(11), int64(21), object(1)
memory usage: 12.5+ MB

In [19]:
import pandas as pd

# Load your clean combined dataset
df = pd.read_csv(r'C:\Users\pc\OneDrive\Desktop\movie-Box-hit-predictor\data_cleaned\combined_movies_cleaned.csv')

# Check structure
print(df.shape)
df.info()

# Quick null + type summary
print("\nðŸ§­ Missing values:")
print(df.isna().sum().sort_values(ascending=False).head(10))

print("\nðŸ”¢ Data types count:")
print(df.dtypes.value_counts())

# Sample
display(df.head(3))

(49525, 33)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49525 entries, 0 to 49524
Data columns (total 33 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   title                49525 non-null  object
 1   budget               49525 non-null  float64
 2   revenue              49525 non-null  float64
 3   popularity           49525 non-null  float64
 4   vote_average         49525 non-null  float64
 5   vote_count           49525 non-null  float64
 6   director_encoded     49525 non-null  int64
 7   top_cast_avg_rating  49525 non-null  float64
 8   release_year         49525 non-null  float64
 9   release_month        49525 non-null  float64
 10  budget_log           49525 non-null  float64
 11  revenue_log          49525 non-null  float64
 12  profit_ratio         48564 non-null  float64
 13  Action               49525 non-null  int64
 14  Adventure            49525 non-null  int64
 15  Animation            49525 non-null  int64
 16  Comedy               49525 non-null  int64
 17  Crime                49525 non-null  int64
 18  Documentary          49525 non-null  int64
 19  Drama                49525 non-null  int64
 20  Family               49525 non-null  int64
 21  Fantasy              49525 non-null  int64
 22  Foreign              49525 non-null  int64
 23  History              49525 non-null  int64
 24  Horror               49525 non-null  int64
 25  Music                49525 non-null  int64
 26  Mystery              49525 non-null  int64
 27  Romance              49525 non-null  int64
 28  Science Fiction      49525 non-null  int64
 29  TV Movie             49525 non-null  int64
 30  Thriller             49525 non-null  int64
 31  War                  49525 non-null  int64
 32  Western              49525 non-null  int64
dtypes: float64(11), int64(21), object(1)
memory usage: 12.5+ MB

ðŸ§­ Missing values:
profit_ratio           961
title                    0
budget                   0
popularity               0
revenue                  0
vote_count               0
director_encoded         0
top_cast_avg_rating      0
vote_average             0
release_year             0
dtype: int64

ðŸ”¢ Data types count:
int64      21
float64    11
object      1
Name: count, dtype: int64

,title,budget,revenue,popularity,vote_average,vote_count,director_encoded,top_cast_avg_rating,release_year,release_month,...,History,Horror,Music,Mystery,Romance,Science Fiction,TV Movie,Thriller,War,Western
0,Pirates of the Caribbean: At World's End,300000000.0,961000000.0,139.082615,6.9,4500.0,714,6.271936,2007.0,5.0,...,0,0,0,0,0,0,0,0,0,0
1,John Carter,260000000.0,284139100.0,43.926995,6.1,2124.0,89,6.108333,2012.0,3.0,...,0,0,0,0,0,1,0,0,0,0
2,Spider-Man 3,258000000.0,890871626.0,115.699814,5.9,3576.0,1838,6.271936,2007.0,5.0,...,0,0,0,0,0,0,0,0,0,0

In [20]:
# Check for any non-numeric values in numeric columns
import numpy as np

for col in df.select_dtypes(include=[np.number]).columns:
    non_numeric = df[col].apply(lambda x: isinstance(x, str)).sum()
    if non_numeric > 0:
        print(f"âš ï¸ Column {col} has {non_numeric} string values")

print("âœ… Numeric check complete!")

âœ… Numeric check complete!

In [21]:
df.describe().T[['mean', 'std', 'min', 'max']].sort_values(by='max', ascending=False).head(10)

                          mean           std     min           max
revenue           1.584016e+07  7.431029e+07     0.0  2.787965e+09
budget            5.962487e+06  2.061678e+07     0.0  3.800000e+08
profit_ratio      8.128681e+02  8.198133e+04    -1.0  1.239638e+07
vote_count        1.471375e+02  5.655438e+02     0.0  1.407500e+04
director_encoded  2.297488e+03  5.805508e+02     0.0  2.528000e+03
release_year      1.972643e+03  9.547553e+00  1925.0  2.017000e+03
popularity        4.210422e+00  1.058570e+01     0.0  8.755813e+02
revenue_log       3.351709e+00  6.721579e+00     0.0  2.174858e+01
budget_log        3.797218e+00  6.832808e+00     0.0  1.975568e+01
release_month     1.474548e+00  1.865669e+00     1.0  1.200000e+01

In [22]:
import numpy as np

# Fix negative profit ratios (e.g., -1 â†’ 0)
df['profit_ratio'] = df['profit_ratio'].clip(lower=0)

# Add log-scaled profit ratio
df['profit_ratio_log'] = np.log1p(df['profit_ratio'])

# Replace any remaining NaNs
df = df.fillna({
    'profit_ratio': 0,
    'profit_ratio_log': 0
})

# Confirm everything looks clean
print(df[['profit_ratio', 'profit_ratio_log']].describe())

       profit_ratio  profit_ratio_log
count  4.952500e+04      49525.000000
mean   7.972018e+02          0.152552
std    8.118210e+04          0.561885
min    0.000000e+00          0.000000
25%    0.000000e+00          0.000000
50%    0.000000e+00          0.000000
75%    0.000000e+00          0.000000
max    1.239638e+07         16.332915

In [31]:
kaggle_df = df

In [1]:
print("hello")

hello

In [24]:
import pandas as pd
path = r"C:\Users\pc\OneDrive\Desktop\movie-Box-hit-predictor\data_cleaned\tmdb_api_movies_enriched.csv"
tmdb_api_data = pd.read_csv(path)
tmdb_api_data.columns

Index(['Unnamed: 0.1', 'Unnamed: 0', 'title', 'id', 'budget', 'revenue',
       'popularity', 'vote_average', 'vote_count', 'release_date', 'genre_ids',
       'adult', 'original_language', 'release_year', 'release_month',
       'director_encoded', 'top_cast_avg_rating', 'budget_log', 'revenue_log',
       'profit_ratio'],
      dtype='object')

In [25]:
tmdb_df = tmdb_api_data

In [30]:
# === CLEAN AND ALIGN TMDB DATASET ===
import pandas as pd
import numpy as np

# 1ï¸âƒ£ Keep only movies with nonzero budget and revenue
tmdb_filtered = tmdb_df[
    (tmdb_df['budget'] > 0) & 
    (tmdb_df['revenue'] > 0)
].copy()
print(f"âœ… Filtered TMDb movies: {tmdb_filtered.shape}")

# 2ï¸âƒ£ Create engineered features (logs + ratios)
tmdb_filtered['budget_log'] = np.log1p(tmdb_filtered['budget'])
tmdb_filtered['revenue_log'] = np.log1p(tmdb_filtered['revenue'])
tmdb_filtered['profit_ratio'] = (tmdb_filtered['revenue'] - tmdb_filtered['budget']) / tmdb_filtered['budget']
tmdb_filtered['profit_ratio_log'] = np.log1p(tmdb_filtered['profit_ratio'].clip(lower=0))

# 3ï¸âƒ£ Fix data types
tmdb_filtered['adult'] = tmdb_filtered['adult'].astype(int)
tmdb_filtered['release_year'] = tmdb_filtered['release_year'].astype(int)
tmdb_filtered['release_month'] = tmdb_filtered['release_month'].astype(int)
# 4ï¸âƒ£ Handle missing values and fix director column type safely

# If director_encoded is text (e.g., director names), encode it numerically
if tmdb_filtered['director_encoded'].dtype == 'object':
    from sklearn.preprocessing import LabelEncoder
    le = LabelEncoder()
    tmdb_filtered['director_encoded'] = (
        tmdb_filtered['director_encoded'].fillna('Unknown')
    )
    tmdb_filtered['director_encoded'] = le.fit_transform(tmdb_filtered['director_encoded'])

else:
    # If it's already numeric but has NaNs
    tmdb_filtered['director_encoded'] = tmdb_filtered['director_encoded'].fillna(0).astype(int)

# Fill missing top cast rating
tmdb_filtered['top_cast_avg_rating'] = tmdb_filtered['top_cast_avg_rating'].fillna(
    tmdb_filtered['top_cast_avg_rating'].mean()
)

# 5ï¸âƒ£ Map TMDb genre_ids â†’ genre name columns (like in Kaggle)
genre_map = {
    28: 'Action', 12: 'Adventure', 16: 'Animation', 35: 'Comedy', 80: 'Crime',
    99: 'Documentary', 18: 'Drama', 10751: 'Family', 14: 'Fantasy', 36: 'History',
    27: 'Horror', 10402: 'Music', 9648: 'Mystery', 10749: 'Romance', 878: 'Science Fiction',
    10770: 'TV Movie', 53: 'Thriller', 10752: 'War', 37: 'Western'
}

for gid, name in genre_map.items():
    tmdb_filtered[name] = tmdb_filtered['genre_ids'].apply(lambda x: 1 if str(gid) in str(x) else 0)

# 6ï¸âƒ£ Keep only relevant columns (align with Kaggle dataset)
cols_to_keep = [
    'title', 'budget', 'revenue', 'popularity', 'vote_average', 'vote_count',
    'director_encoded', 'top_cast_avg_rating', 'release_year', 'release_month',
    'budget_log', 'revenue_log', 'profit_ratio', 'profit_ratio_log'
] + list(genre_map.values())

tmdb_cleaned = tmdb_filtered[cols_to_keep].copy()
print(f"âœ… Cleaned TMDb dataset shape: {tmdb_cleaned.shape}")
print(tmdb_cleaned.head(3))

âœ… Filtered TMDb movies: (2666, 20)
âœ… Cleaned TMDb dataset shape: (2666, 33)
                     title     budget     revenue  popularity  vote_average  \
0  Avengers: Age of Ultron  365000000  1405403694     51.3514         7.270
1                  Spectre  245000000   880707597     48.1287         6.564
3           American Ultra   28000000    27100000     44.3710         6.089

   vote_count  director_encoded  top_cast_avg_rating  release_year  \
0       23812               711             4.707700          2015
1       10889              1218             3.377500          2015
3        2866              1013             3.550833          2015

   release_month  ...  History  Horror  Music  Mystery  Romance  \
0              4  ...        0       0      0        0        0
1             10  ...        0       0      0        0        0
3              8  ...        0       0      0        0        0

   Science Fiction  TV Movie  Thriller  War  Western
0                1         0         0    0        0
1                0         0         1    0        0
3                0         0         0    0        0

[3 rows x 33 columns]

In [32]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder

# ðŸŽ¯ Step 1: Define the Kaggle dataset column structure
kaggle_columns = [
    'title', 'budget', 'revenue', 'popularity', 'vote_average', 'vote_count',
    'director_encoded', 'top_cast_avg_rating', 'release_year', 'release_month',
    'budget_log', 'revenue_log', 'profit_ratio',
    'Action', 'Adventure', 'Animation', 'Comedy', 'Crime', 'Documentary', 'Drama',
    'Family', 'Fantasy', 'Foreign', 'History', 'Horror', 'Music', 'Mystery',
    'Romance', 'Science Fiction', 'TV Movie', 'Thriller', 'War', 'Western'
]

# ðŸŽ¯ Step 2: Filter TMDB data (only valid rows)
tmdb_filtered = tmdb_df[(tmdb_df['budget'] > 0) & (tmdb_df['revenue'] > 0)].copy()
print(f"âœ… Filtered TMDb movies: {tmdb_filtered.shape}")

# ðŸŽ¯ Step 3: Clean & convert columns
tmdb_filtered['release_year'] = tmdb_filtered['release_year'].astype(int)
tmdb_filtered['release_month'] = tmdb_filtered['release_month'].astype(int)

# Encode directors (convert names â†’ numbers)
if tmdb_filtered['director_encoded'].dtype == 'object':
    le = LabelEncoder()
    tmdb_filtered['director_encoded'] = tmdb_filtered['director_encoded'].fillna('Unknown')
    tmdb_filtered['director_encoded'] = le.fit_transform(tmdb_filtered['director_encoded'])
else:
    tmdb_filtered['director_encoded'] = tmdb_filtered['director_encoded'].fillna(0).astype(int)

# Fill missing cast ratings
tmdb_filtered['top_cast_avg_rating'] = tmdb_filtered['top_cast_avg_rating'].fillna(
    tmdb_filtered['top_cast_avg_rating'].mean()
)

# Compute logs & ratios
tmdb_filtered['budget_log'] = np.log1p(tmdb_filtered['budget'])
tmdb_filtered['revenue_log'] = np.log1p(tmdb_filtered['revenue'])
tmdb_filtered['profit_ratio'] = (tmdb_filtered['revenue'] - tmdb_filtered['budget']) / tmdb_filtered['budget']
tmdb_filtered['profit_ratio'] = tmdb_filtered['profit_ratio'].replace([np.inf, -np.inf], np.nan).fillna(0)

# ðŸŽ¯ Step 4: Create genre columns
genre_list = ['Action', 'Adventure', 'Animation', 'Comedy', 'Crime', 'Documentary', 'Drama',
              'Family', 'Fantasy', 'Foreign', 'History', 'Horror', 'Music', 'Mystery',
              'Romance', 'Science Fiction', 'TV Movie', 'Thriller', 'War', 'Western']

for g in genre_list:
    tmdb_filtered[g] = tmdb_filtered['genre_ids'].apply(lambda x: 1 if g.lower() in str(x).lower() else 0)

# ðŸŽ¯ Step 5: Align column order to Kaggle data
tmdb_filtered = tmdb_filtered[kaggle_columns]

print("âœ… TMDb dataset aligned successfully:", tmdb_filtered.shape)

# ðŸŽ¯ Step 6: Merge with Kaggle dataset
combined_df = pd.concat([kaggle_df, tmdb_filtered], ignore_index=True)
print("âœ… Final Combined Dataset Shape:", combined_df.shape)
combined_df.head(3)

âœ… Filtered TMDb movies: (2666, 20)
âœ… TMDb dataset aligned successfully: (2666, 33)
âœ… Final Combined Dataset Shape: (52191, 34)

,title,budget,revenue,popularity,vote_average,vote_count,director_encoded,top_cast_avg_rating,release_year,release_month,...,Horror,Music,Mystery,Romance,Science Fiction,TV Movie,Thriller,War,Western,profit_ratio_log
0,Pirates of the Caribbean: At World's End,300000000.0,961000000.0,139.082615,6.9,4500.0,714,6.271936,2007.0,5.0,...,0,0,0,0,0,0,0,0,0,1.164192
1,John Carter,260000000.0,284139100.0,43.926995,6.1,2124.0,89,6.108333,2012.0,3.0,...,0,0,0,0,1,0,0,0,0,0.088782
2,Spider-Man 3,258000000.0,890871626.0,115.699814,5.9,3576.0,1838,6.271936,2007.0,5.0,...,0,0,0,0,0,0,0,0,0,1.239241

In [33]:
combined_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52191 entries, 0 to 52190
Data columns (total 34 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   title                52191 non-null  object
 1   budget               52191 non-null  float64
 2   revenue              52191 non-null  float64
 3   popularity           52191 non-null  float64
 4   vote_average         52191 non-null  float64
 5   vote_count           52191 non-null  float64
 6   director_encoded     52191 non-null  int64
 7   top_cast_avg_rating  52191 non-null  float64
 8   release_year         52191 non-null  float64
 9   release_month        52191 non-null  float64
 10  budget_log           52191 non-null  float64
 11  revenue_log          52191 non-null  float64
 12  profit_ratio         52191 non-null  float64
 13  Action               52191 non-null  int64
 14  Adventure            52191 non-null  int64
 15  Animation            52191 non-null  int64
 16  Comedy               52191 non-null  int64
 17  Crime                52191 non-null  int64
 18  Documentary          52191 non-null  int64
 19  Drama                52191 non-null  int64
 20  Family               52191 non-null  int64
 21  Fantasy              52191 non-null  int64
 22  Foreign              52191 non-null  int64
 23  History              52191 non-null  int64
 24  Horror               52191 non-null  int64
 25  Music                52191 non-null  int64
 26  Mystery              52191 non-null  int64
 27  Romance              52191 non-null  int64
 28  Science Fiction      52191 non-null  int64
 29  TV Movie             52191 non-null  int64
 30  Thriller             52191 non-null  int64
 31  War                  52191 non-null  int64
 32  Western              52191 non-null  int64
 33  profit_ratio_log     49525 non-null  float64
dtypes: float64(12), int64(21), object(1)
memory usage: 13.5+ MB

In [34]:
# Compute log for any missing rows
combined_df['profit_ratio_log'] = combined_df['profit_ratio_log'].fillna(
    np.log1p(combined_df['profit_ratio'])
)

# Verify no missing
print("âœ… Missing profit_ratio_log:", combined_df['profit_ratio_log'].isna().sum())
combined_df.info()

âœ… Missing profit_ratio_log: 0
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52191 entries, 0 to 52190
Data columns (total 34 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   title                52191 non-null  object
 1   budget               52191 non-null  float64
 2   revenue              52191 non-null  float64
 3   popularity           52191 non-null  float64
 4   vote_average         52191 non-null  float64
 5   vote_count           52191 non-null  float64
 6   director_encoded     52191 non-null  int64
 7   top_cast_avg_rating  52191 non-null  float64
 8   release_year         52191 non-null  float64
 9   release_month        52191 non-null  float64
 10  budget_log           52191 non-null  float64
 11  revenue_log          52191 non-null  float64
 12  profit_ratio         52191 non-null  float64
 13  Action               52191 non-null  int64
 14  Adventure            52191 non-null  int64
 15  Animation            52191 non-null  int64
 16  Comedy               52191 non-null  int64
 17  Crime                52191 non-null  int64
 18  Documentary          52191 non-null  int64
 19  Drama                52191 non-null  int64
 20  Family               52191 non-null  int64
 21  Fantasy              52191 non-null  int64
 22  Foreign              52191 non-null  int64
 23  History              52191 non-null  int64
 24  Horror               52191 non-null  int64
 25  Music                52191 non-null  int64
 26  Mystery              52191 non-null  int64
 27  Romance              52191 non-null  int64
 28  Science Fiction      52191 non-null  int64
 29  TV Movie             52191 non-null  int64
 30  Thriller             52191 non-null  int64
 31  War                  52191 non-null  int64
 32  Western              52191 non-null  int64
 33  profit_ratio_log     52191 non-null  float64
dtypes: float64(12), int64(21), object(1)
memory usage: 13.5+ MB

In [35]:
combined_df.to_csv("combined_all_data.csv")